.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
  text-align: center;
}
.App-Logo {
  float : left;
}
.App-subheader {
  background-color: #5B6770;
  height: 40px;
  margin:0px;
  padding: 5px;
  margin-bottom:10px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
  padding:0 auto;
}

.App-intro {
  font-size: large;
}

/*
@keyframes App-logo-spin {
  from { transform: rotateY(360deg); }
  to { transform: rotateY(0deg); }
}
*/


